.page-header-rust {
  margin-top: 120px;
  margin-bottom: 30px;
  background-color: #c7531e;
  padding: 15px 0px;
  // background-image: url(//www.evms.edu/media/evms_public/content/style_assets/refresh_2018_style_assets/images/page-header-rust-evms-lines.svg);
}

.site__logo {
  /* background-image: url(//www.evms.edu/media/evms_public/content/style_assets/refresh_2018_style_assets/images/evmsLogoBlue.svg); */
  background-image: url(images/50th-Logo-horizontal.svg);
}
